*{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
body, htm{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #111;

}
body {
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 65px;
    background-color: #000;
}
.conteiner {
    display: flex;
    width: auto;
}
.logo {
    height: 40px;
}
img {
    height: 20px;
    padding: 10px;
    position: relative;
    right: 10px;
}
.header-rigth {
    display: flex;
}
.boxbusca {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    margin: 0px auto;
    width: 100%;
}
.divbusca {
    display: flex;
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 30px;
    width: 100%;
    max-width: 720px;
    height: 40px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
}
.sebusca {
    background-color: transparent;
    font-size: 16px;
    border: none;
    height: 55px;
}
input {
    background-color: transparent;
    height: 40px;
    width: 100%;
    border: transparent;
    justify-content: center;
    padding: 0px 20px;
}
.header-rigth {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.google-app{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}
.google-app .ponto{
    height: 4px;
    width: 4px;
    margin: 1px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);;
}
.perfil{
    background-color: rgb(16, 107, 180);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 20px;
    margin: 10px;
}
a {
    text-decoration: none;
}
section {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #000;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 15px;
}
li {
    display: list-item;
}
nav ul li a {
    display: flex;
    font-size: 14px;
    color: #666;
}
/* tamanho da mini-imagem */
nav ul li a div {
    width: 17px;
    height: 17px;
}
/* link mini-imagem */
.mini-busca {
    margin: 5px;
    background-image: url(../images/);
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}